
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.5;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.outer-image-hk {
  background-image: url("HongKong.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.landing-block {
  box-sizing: border-box;
  font-family: "Open Sans";
  background-color: white;
  height: 100%;
  width: 500px;
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 100px 60px 0px 60px;
  overflow: auto;
}

.landing-header {
  font-size: 24px;
  height: 80px;
  width: 70%;
  display: inline-block;
  font-weight: 100;
}

.fa.fa-sign-in {
  color: #DCDCDC;
  font-size: 70px;
  float: right;
}

.landing-header small {
  font-size: 14px;
  display: block;
  color: #707478;
}

.landing-login-form {
  font-size: 12px;
}

.form-control.input-lg {
  font-size: 12px;
}

.incorrect-input.form-control.input-lg:focus {
  border-color: red;
}

.correct-input.form-control.input-lg {
  border-color: green;
}

.landing-login-content .landing-login-form .input-lg{
  margin-bottom: 15px;
}

.landing-login-content .landing-login-form .landing-login-checkbox {
  margin-right: 10px;
  margin-bottom: 30px;
}

.btn.btn-success {
  background-color: #00acac;
  margin-bottom: 20px;
}

.btn.btn-success:hover {
  background-color: #008B8B;
}

.landing-signup {
  font-size: 12px;
  color: #707478;
}

.signup-link {
  color: #00acac;
}

.landing-email-invalid, .signup-username-invalid{
  position: absolute;
  right: 77px;
  top: 195px;
  color: red;
}

.landing-email-valid, .signup-username-valid{
  position: absolute;
  right: 77px;
  top: 195px;
  color: green;
}

.landing-password-invalid, .signup-email-invalid{
  position: absolute;
  right: 77px;
  top: 255px;
  color: red;
}

.landing-password-valid, .signup-email-valid{
  position: absolute;
  right: 77px;
  top: 255px;
  color: green;
}

.signup-password-invalid {
  position: absolute;
  right: 77px;
  top: 317px;
  color: red;
}

.signup-password-valid {
  position: absolute;
  right: 77px;
  top: 317px;
  color: green;
}

@media only screen and (max-width: 680px) {
  .landing-block {
    width: 100vw;
  }
}

